body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 16px;
}
ul{
    display: flex;
    list-style: none;
    margin: 0;
  padding: 0;
  gap: 16px

}
a{
    color: lightgray;
    text-decoration: none;
}
.header img{
    width: 150px; 
  height: auto;
}
.herocontainer{
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    gap: 70px;
}
.buttonandtext h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}
.buttonandtext p{
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}
button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #3882f6;
    color: white;
    padding: 8px 20px;
  }
.buttonandtext{
    flex: 1;
}
.heroright img{
    width: 400px;
    height: 200px;
}
.heroright{
    padding: 16px;
}
.randominfo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h3{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.card{
    height: 150px;
    width: 200px;
    border: 5px solid lightskyblue;
    border-radius: 15px;
    text-align: center;
}
.card img {
    width: 100%;              
    height: 100%;               
    display: block;              
    margin-bottom: 10px;         
  }
.cards{
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;             /* wraps to next line if screen is small */
    margin: 50px 0;   
}
.cards .text{
    color: lightskyblue;
}
.quote{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 50px;
}
.quotetext {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
}
.calltoaction{
    display: flex;
    justify-content: space-between;
    border: 5px solid red ;
    color: white;
}
.cta{
    display: flex;
    border: 3px solid brown;
    justify-content: space-between;
}
.ctatext{
    color: #1f2937;
}
.ctabutton{
    background-color:#3882f6;
    border: 2px solid white
}